<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <targets>
    <target
    xsi:type="File"
    name="mapFile"
    fileName="C:\Users\ditsd\Desktop\DITS-Portal\dits_portal_api\dits_portal_api\DitsPortal.API\Logs\${shortdate}.log"
    layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" >
    </target>
    <target
    xsi:type="Database"
    name="mapDataBase"
      dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
       connectionString="User ID=root;Password=;server=localhost;Database=ditsportal;Pooling=true;">
      <commandText>
        insert into ErrorLog(
        Application, Logged, Level, Message,
        Logger, CallSite, Exception
        ) values (
        @application, @logged, @level, @message,
        @logger, @callsite, @exception);
      </commandText>
      <parameter name="@application" layout="DitsPortal" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
       <dbProvider>"MySql.Data.MySqlClient.MySqlConnection, MySql.Data"></dbProvider>
      <connectionString>User ID=root;Password=;server=localhost;Database=ditsportal;Pooling=true;</connectionString>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Off" writeTo="mapFile" />
    <logger name="*" minlevel="Error" writeTo="mapDataBase" />
  </rules>
</nlog>